/* = Bumpdown CSS - from Modern Tribe Bumpdown
=============================================*/
.wrap .pngx-bumpdown,
.pngx-bumpdown,
.pngx-bumpdown-cell.pngx-bumpdown {
	display: none;
	margin: 1rem 0;

	.pngx-bumpdown-content {
		background: #f1f1f1;
		padding: 10px 35px 10px 10px;
		font-size: 12px;
		position: relative;
	}
}

.pngx-bumpdown-cell.pngx-bumpdown {
	padding: 0;
}

#poststuff .pngx-bumpdown h1,
#poststuff .pngx-bumpdown h2,
#poststuff .pngx-bumpdown h3,
#poststuff .pngx-bumpdown h4,
.pngx-bumpdown h1,
.pngx-bumpdown h2,
.pngx-bumpdown h3,
.pngx-bumpdown h4 {
	padding-left: 0;
	padding-top: 0;
}

.pngx-bumpdown-arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: -11px;
	margin-left: -18px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;

	border-bottom: 11px solid #f1f1f1;
}

.pngx-bumpdown-close {
	color: #686868;
	cursor: pointer;
	position: absolute;
	right: .5rem;
	top: .5rem;
	z-index: 2;
}

.pngx-bumpdown-trigger .target {
	color: #0074a2;
}

@media screen and (max-width: 782px) {
	.wrap td.pngx-bumpdown {
		padding-right: 35px;
	}

	.pngx-bumpdown-arrow {
		margin-left: -15px;
	}
}