/* ==========================================================================
   Fields CSS
   ========================================================================== */

/**
* All Fields
***************************************************/
.pngx-meta-field-wrap {
	margin: 10px 0;
	overflow: hidden;
	@include media($mobile) {
		margin: 15px 0;
	}
}

.pngx-meta-field,
.pngx-meta-label {
	float: left;
	overflow: hidden;
}

.pngx-meta-label {
	width: 30%;
	font-weight: 700;
}

.pngx-meta-field {
	width: 70%;

	& input,
	& textarea,
	& input {
		max-width: 99%;
	}
}

.pngx-meta-field.field-help {
	width: 100%;
}

@include media($mobile) {
	.pngx-meta-field,
	.pngx-meta-label {
		width: 100%;
	}
}

/**
* Headings
***************************************************/
.pro-heading,
.postbox h4.pngx-fields-heading {
	color: $color__link;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px;
	@include media($mobile) {
		margin: 0;
	}
}

.pro-heading:before,
.postbox h4.pngx-fields-heading:after {
	background: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(155, 155, 155, 1) 28%, rgba(255, 255, 255, 1) 85%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 1px;
	margin-top: 10px;
}

.pro-heading {
	margin: 40px 0 0;
}

.pro-heading:before {
	margin: 0 0 15px;
}

/**
* Image Field
***************************************************/
.pngx-default-image,
.pngx-image {
	border: 1px solid #dbdbdb;
	font-size: 16px;
	height: auto;
	padding: 10px;
	text-align: center;
	width: 360px;
	max-width: 90%;
}

/**
* Linked Style Fields
***************************************************/
.pngx-inside-label {
	color: $color__dark_grey;
	font-size: 10px;
	margin: 0 15px 0 0;
	line-height: 26px;
	vertical-align: top;
}

/* License Button
------------------------------------------------------------ */
.pngx-license-button-act {
	background: $color__link;
	border: 1px solid $color__link;
	color: $white;
}

.pngx-license-button-act:hover {
	background: #1e4164;
	cursor: pointer;
}

.pngx-license-button-det {
	background: $color__sucess;
	border: 1px solid $color__sucess;
	color: $white;
}

.pngx-license-button-det:hover {
	background: $color__link;
	cursor: pointer;
}

/**
* Linked Style Fields
***************************************************/
.pngx-meta-field-styles {
	margin: 10px 0;
}

/**
* List Field
***************************************************/
.pngx-list {
	margin: 0;
	list-style-type: none;

	li {
		padding-left: 1em;
		text-indent: -.7em;
		color: $black;
	}

	li:before {
		content: "\002022 ";
		color: $darkred;
		padding-right: 10px;
	}
}

.pngx-wrapper {
	.pngx-list {
		margin: -15px 0 0;
	}
}

/**
* Text Input
***************************************************/
.pngx-wrapper input.regular-text {
	width: auto;
}

/**
* Textarea / Wysiwyg
***************************************************/
.pngx-meta-field textarea,
.pngx-meta-field.field-wysiwyg {
	width: 100%;
}

/**
* Submit
***************************************************/
.pngx-wrapper p.submit {
	overflow: hidden;
}

.pngx-wrapper.wp-core-ui .button-primary {
	float: right;
}

/**
* Utility
***************************************************/
.pngx-js .javascript-conflict,
#wp-pngx_description-media-buttons a:not(:first-child) {
	display: none;
}