/* ==========================================================================
   Fields CSS
   ========================================================================== */


/**
* Image Field
***************************************************/
.pngx-default-image,
.pngx-image {
	border: 1px solid #dbdbdb;
	font-size: 16px;
	height: auto;
	padding: 20px 5px;
	text-align: center;
	width: 360px;
	max-width: 94%;
}

#image_coupon .pngx-default-image,
#image_coupon .pngx-image {
	border: 3px dashed #000000;
}

/**
* Utility
***************************************************/
/*.wp-admin.post-type-cctor_coupon .wrap h2,*/
.wp-admin.post-type-cctor_coupon.wrap table,
.pngx-js .javascript-conflict,
#wp-cctor_description-media-buttons a:not(:first-child) {
	display: none;
}