/* ==========================================================================
   Fields CSS
   ========================================================================== */

/**
* Headings
***************************************************/
.pro-heading,
.postbox h4.pngx-fields-heading {
	color: $color__link;
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 10px;
	@include media($mobile) {
		margin: 0;
	}
}

.pro-heading:before,
.postbox h4.pngx-fields-heading:after {
	background: linear-gradient(to right, rgba(0, 0, 0, 1) 1%, rgba(155, 155, 155, 1) 28%, rgba(255, 255, 255, 1) 85%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 1px;
	margin-top: 10px;
}

.pro-heading {
	margin: 40px 0 0;
}

.pro-heading:before {
	margin: 0 0 15px;
}

/**
* Help Field
***************************************************/
.pngx-meta-field.field-help {
	width: 100%;
}

/**
* Image Field
***************************************************/
.pngx-default-image,
.pngx-image {
	border: 1px solid #dbdbdb;
	font-size: 16px;
	height: auto;
	max-width: 90%;
	padding: 10px;
	text-align: center;
	width: 360px;
}

/**
* Linked Style Fields
***************************************************/
.pngx-inside-label {
	color: $color__dark_grey;
	font-size: 10px;
	line-height: 26px;
	margin: 0 15px 0 0;
	vertical-align: top;
}

/* License
------------------------------------------------------------ */
.pngx-list-license-button,
.pngx-license-button-act {
	background: $color__link;
	border: 1px solid $color__link;
	color: $white;
}

.pngx-list-license-button:hover,
.pngx-license-button-act:hover {
	background: #1e4164;
	cursor: pointer;
}

.pngx-license-button-det {
	background: $color__sucess;
	border: 1px solid $color__sucess;
	color: $white;
}

.pngx-license-button-det:hover {
	background: $color__link;
	cursor: pointer;
}

.pngx-license-list-key-wrapper .plugin-update {
	border-left: 4px solid #00a0d2;
}

.pngx-license-list-key-wrap {
	position: relative;

	.pngx-list-license-button {
		display: inline;
		padding: 4px 10px;
	}

	.pngx-license-field-result-msg {
		text-align: center;
	}

	.description {
		font-style: italic;
	}
}

/**
* List Field
***************************************************/
.pngx-list {
	list-style-type: none;
	margin: 0;

	li {
		color: $black;
		padding-left: 1em;
		text-indent: -.7em;
	}

	li:before {
		color: $darkred;
		content: "\002022 ";
		padding-right: 10px;
	}
}

.pngx-wrapper {
	.pngx-list {
		margin: -15px 0 0;
	}
}

/**
* Select Input
***************************************************/
.pngx-default-select {
	max-width: 300px;
	position: relative;
	width: 100%;

	select {
		background-color: white;
		box-sizing: border-box;
		color: black;
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		height: auto;
		line-height: 1.5em;
		margin: 0 0 10px;
		padding: 12px 8px;
		width: 100%;

		&:focus {
			outline: 0;
		}
		-webkit-appearance: none;

		-moz-appearance: none;
	}

	&:before {
		border: 0 solid transparent;
		border-left-width: 7px;
		border-right-width: 7px;
		border-top: 7px solid $color__dark_grey;
		content: '';
		cursor: pointer;
		height: 0;
		position: absolute;
		right: 18px;
		top: 22px;
		transition: all .1s ease;
		width: 0;
	}

	&:hover {

		&:before {
			border: 0 solid transparent;
			border-bottom: 7px solid $color__dark_grey;
			border-left-width: 7px;
			border-right-width: 7px;
			content: '';
			height: 0;
			position: absolute;
			right: 18px;
			top: 22px;
			width: 0;
		}
	}

}

/*!**
* Text Input
***************************************************!
.pngx-wrapper input.regular-text {
	width: auto;
}

!**
* Textarea / Wysiwyg
***************************************************!
.pngx-meta-field textarea,
.pngx-meta-field.field-wysiwyg {
	width: 100%;
}*/

/**
* Submit
***************************************************/
.pngx-wrapper p.submit {
	overflow: hidden;
}

.pngx-wrapper.wp-core-ui .button-primary {
	float: right;
}

/**
* Utility
***************************************************/
.pngx-js .javascript-conflict,
#wp-pngx_description-media-buttons a:not(:first-child) {
	display: none;
}

/**
* System Info
***************************************************/
.pngx-support-stats {
	background: #000;
	border-radius: 2px;
	color: #888;
	max-height: 400px;
	overflow: scroll;
	padding: 10px;

	dd {
		margin-bottom: 20px;
	}
}

.pngx-system-info-copy .pngx-system-info-copy-btn {
	padding: 6px;
}