/* ==========================================================================
   Help CSS
   ========================================================================== */
.pngx-meta-field-wrap.pngx-section-help-container {
	background-color: $color__light_grey;
	border-radius: 10px 10px 0;
	margin-bottom: 1em;
	overflow: hidden;
}

.pngx-section-help-container-toggle {
	background-color: $color__light_grey;
	border: medium none;
	color: white;
	cursor: pointer;
	margin: 0;
	outline: medium none;
	padding: 0.5em;
	text-align: left;
	width: 100%;
}

.pngx-section-help-container:hover,
.pngx-section-help-container-toggle:hover {
	background: $color__link_hover none repeat scroll 0 0;
	border: 1px solid $color__link;
	color: $black;
}

.pngx-section-help-container-toggle .dashicons-before::before {
	margin-right: 5px;
}

.pngx-section-help-container-toggle .toggle__arrow {
	text-decoration: none;
}

.pngx-section-help-slideout {
	background-color: $white;
	border: 1px solid $color__link;
	border-bottom-left-radius: 10px;
	display: none;
	overflow: hidden;
	padding: 0.5em;
}

.ui-widget-content a.pngx-support,
.pngx-support {
	color: $color__link;
}

.ui-widget-content a.pngx-support:hover,
.pngx-support:hover {
	color: $color__link_hover;
}

.pngx-help-images {
	box-shadow: 0 1px 2px 0 $color__link_hover;
	display: none;
	margin: 10px;
	max-width: 95%;
}

.pngx-meta-field-content {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.pngx-meta-field-content.text {
	margin: 0 0 0 2%;
}

.promote-sup {
	color: $color__grey;
}

@include media($mobile) {
	.pngx-meta-field-content,
	.pngx-meta-field-content.text {
		margin: 0;
		width: 100%;
	}
}