/* ==========================================================================
   Messages CSS
   ========================================================================== */
.pngx-meta-bg {
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin: 5px 0 15px;
	overflow: hidden;
	padding: 8px 12px;
}

.success,
.pngx-success,
.pngx-message {
	border-left: 4px solid var( --pngx-success );
	font-weight: bold;
}

.pngx-success-msg {
	color: var( --pngx-success );
}

.pngx-error {
	background: var( --pngx-grey-1 );
	border-left: 4px solid var( --pngx-error );
	color: var( --pngx-error );
	margin-bottom: 1rem;
}

.pngx-error-msg {
	color: var( --pngx-error );
}

.pngx-warning {
	color: #eea236;
}

.pngx-msg {
	color: #65676A;
}

.success {
	padding: 1px 12px;
}

.pngx-error {
	padding: 1px 12px;
}

.pngx-section-fields .pngx-error {
	margin: 30px 0;
}

.pngx-error div,
.pngx-message div {
	float: left;
	padding: 0 2% 0 0;
	width: 48%;
}
