/* ==========================================================================
   Meta Box
   ========================================================================== */

.postbox-container {

	.pngx-meta-field-wrap {
		box-sizing: border-box;
		margin: 15px 0;
		overflow: visible;

		@include media($mobile) {
			//margin: 15px 0;
		}
	}

	.pngx-meta-field {
		float: none;
		overflow: visible;

		&.field-checkbox,
		&.field-color,
		&.field-date,
		&.field-image,
		&.field-number,
		&.field-select,
		&.field-text,
		&.field-url,
		&.field-variety,
		&.field-wysiwyg {
			border: 1px solid $color__light_grey;
			border-radius: 3px;
			display: block;
			padding: 9px;
			width: 100%;
			max-width: 500px;

			& > label {
				background: $white;
				color: $color__dark_grey;
				display: block;
				float: left;
				font-size: 14px;
				height: 14px;
				margin: -19px 0 10px;
				overflow: hidden;
				padding: 2px 5px 4px 5px;
			}

		}

		.description {
			background: #F3F3F3;
			color: $color__grey;
			display: block;
			font-size: 11px;
			margin: 10px -9px -9px -9px;
			padding: 3px;
			text-align: center;
		}
		/*
				input[type="text"],
				input[type="date"],
				input[type="datetime"],
				input[type="email"],
				input[type="number"],
				input[type="search"],
				input[type="time"],
				input[type="url"],
				input[type="password"],
				textarea,
				select {
					border: none;
					display: block;
					font-size: 16px;
					height: 25px;
					line-height: 25px;
					outline: none;
					padding: 0;
					width: 100%;
				}
				input[type="text"]:focus,
				input[type="date"]:focus,
				input[type="datetime"]:focus,
				input[type="email"]:focus,
				input[type="number"]:focus,
				input[type="search"]:focus,
				input[type="time"]:focus,
				input[type="url"]:focus,
				input[type="password"]:focus,
				textarea:focus,
				select:focus {

				}*/

		/*		input[type="submit"],
				input[type="button"] {
					background: #2471FF;
					border: none;
					border-bottom: 3px solid #5994FF;
					border-radius: 3px;
					color: #D2E2FF;
					padding: 10px 20px 10px 20px;
				}
				input[type="submit"]:hover,
				input[type="button"]:hover {
					background: #6B9FFF;
					color: #fff;
				}*/
	}
}