/* ==========================================================================
   Options CSS
   ========================================================================== */

.pngx-wrapper * {
	box-sizing: border-box;

}

@include media($mobile) {
	.pngx-wrapper * {

		.form-table {
			table-layout: fixed;
		}
	}
}

/*hides empty row and support label*/
#help .form-table th,
.form-table tr > *:empty {
	display: none;
}

.pngx-wrapper .pngx-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
	margin: 0 0 0 -10px;
}

@include media($tablet) {
	.pngx-wrapper .pngx-tabs-panel.ui-tabs-panel.ui-widget-content h4 {
		margin: 0 0 0 0px;
	}
}

.pngx-wrapper .pngx-tabs-panel.ui-tabs-panel.ui-widget-content .pngx-section-help-slideout h4 {
	margin: 0;
}

.wp-core-ui .pngx-wrapper .button-primary {
	float: right;
}

.pngx-wrapper {

	input[type="email"],
	input[type="number"],
	input[type="text"],
	input[type="url"] {
		padding: 12px 8px;
		width: auto;
	}

	input[type="number"] {
		height: auto;
	}

}