/* ==========================================================================
   Options CSS
   ========================================================================== */

.pngx-admin-body {
	background-color: var( --pngx-white );
}

.pngx-wrapper * {
	box-sizing: border-box;
}

@include breakpoint_max('sm') {
	.pngx-wrapper * {

		.form-table {
			table-layout: fixed;
		}
	}
}

/*hides empty row and support label*/
#help .form-table th,
.form-table tr > *:empty {
	display: none;
}

.wp-core-ui .pngx-wrapper .button-primary {
	float: right;
}

.pngx-wrapper {

	input[type="email"],
	input[type="number"],
	input[type="text"],
	input[type="url"] {
		margin: 0 0 10px;
		padding: 12px 8px;
		width: auto;
	}

	input[type="number"] {
		height: auto;
	}

	span.description {
		display: block;
	}

	[class$=icon32] + h2 {
		font-weight: bold;
		line-height: 1;

		@include breakpoint('sm') {
			font-size: 3rem;
			margin-bottom: 2rem;
		}

		@include breakpoint_max('sm') {
			margin-bottom: 1rem;
		}
	}

	.cctor-options-icon {
		@include breakpoint('sm') {
			height: 40px;
			width: 40px;
		}
	}

	> h4 {
		margin: 0;
	}

}