/* ==========================================================================
   Options CSS
   ========================================================================== */

.pngx-admin-body {
	background-color: var( --pngx-color-background );

	.button,
	.button-primary {
		border-radius: rem-calc(8);
		font-size: rem-calc(14);
		line-height: rem-calc(20);
		padding: rem-calc(10) rem-calc(20);

		.dashicons {
			margin-top: 0;
			position: relative;
			top: rem-calc(1);
		}
	}

	.button {
		background: var( --pngx-color-background );
		border-color: var( --pngx-grey-5 );
		color: var( --pngx-black );

		.dashicons {
			color: var( --pngx-black );
		}

		&:focus,
		&:hover {
			background: var( --pngx-grey-2 );
			border-color: var( --pngx-grey-5 );
			color: var( --pngx-blue );

			.dashicons {
				color: var( --pngx-blue );
			}
		}
	}

	.wp-picker-container {
		.wp-color-result {
			border-radius: rem-calc(3);
			margin-bottom: 0;
		}
	}
}

body:not(.pngx-admin-body) .pngx-tabs {
	label,
	legend {
		font-weight: 700;
	}

	.button-primary {
		border-radius: rem-calc(8);
		font-size: rem-calc(14);
		line-height: rem-calc(20);
		padding: rem-calc(10) rem-calc(20);
	}
}

.pngx-admin-body,
body:not(.pngx-admin-body) .pngx-tabs {
	.pngx-field-label {
		margin-bottom: var(--pngx-spacer-1);
	}

	.select2-container.select2-container--default {
		.select2-selection--single {
			border-radius: rem-calc(8);
			height: auto;

			.select2-selection__rendered {
				color: inherit;
				line-height: rem-calc(24);
				padding: rem-calc(8 32 8 12);
			}

			.select2-selection__placeholder {
				color: inherit;
			}

			.select2-selection__arrow {
				height: calc(100% - rem-calc(2));
				width: rem-calc(32);

				b {
					border-width: rem-calc(8 5 0 5);
					margin-top: rem-calc(-3);
				}
			}
		}

		.select2-selection--multiple {
			border-color: var(--pngx-grey-5);
			border-radius: rem-calc(8);

			&::after {
				border-color: #888 transparent transparent transparent;
				border-style: solid;
				border-width: rem-calc(8 5 0 5);
				content: '';
				pointer-events: none;
				position: absolute;
				right: rem-calc(13);
				top: 50%;
				transform: translateY(-50%);
			}

			.select2-selection__rendered {
				display: block;
				padding: rem-calc(5 32 0 12);

				li {
					background-color: transparent;
				}
			}

			.select2-search__field {
				margin-top: 0;

				@include breakpoint_max('lg') {
					min-height: rem-calc(30);
				}
			}
		}

		&.select2-container--open {
			.select2-selection--single .select2-selection__arrow b {
				border-width: rem-calc(0 5 8 5);
			}

			.select2-selection--multiple::after {
				border-color: transparent transparent #888;
				border-width: rem-calc(0 5 8 5);
			}
		}
	}
}

.pngx-wrapper * {
	box-sizing: border-box;
}

@include breakpoint_max('sm') {
	.pngx-wrapper * {

		.form-table {
			table-layout: fixed;
		}
	}
}

/*hides empty row and support label*/
#help .form-table th,
.form-table tr > *:empty {
	display: none;
}

.wp-core-ui .pngx-wrapper .button-primary {
	float: right;
}

.pngx-wrapper {

	input[type="email"],
	input[type="number"],
	input[type="text"],
	input[type="url"],
	textarea {
		border-color: var( --pngx-grey-5 );
		border-radius: rem-calc(8);
		font-size: rem-calc(14);
		line-height: rem-calc(24);
		padding: rem-calc(8 12);
		width: auto;

		&.pngx-engine-options-control__text-input {
			width: 100%;
		}
	}

	input[type="number"] {
		height: auto;
	}

	span.description {
		display: block;

		&:not(:first-child) {
			margin-top: rem-calc(10);
		}
	}

	[class$=icon32] + h2 {
		font-weight: bold;
		line-height: 1;

		@include breakpoint('sm') {
			font-size: rem-calc(48);
			margin-bottom: rem-calc(32);
		}

		@include breakpoint_max('sm') {
			margin-bottom: rem-calc(16);
		}
	}

	.cctor-options-icon {
		@include breakpoint('sm') {
			height: rem-calc(40);
			width: rem-calc(40);
		}
	}

	> h4 {
		margin: 0;
	}
}

#poststuff .pngx-tabs h2 {
	font-size: rem-calc(36);
	font-weight: 600;
	line-height: rem-calc(40);
	padding: 0;

	@include breakpoint_max('sm') {
		font-size: 1.3em;
		line-height: 1.4em;
	}
}