.pngx-meta-field.field-repeater {
	width: 100%;
}

.pngx-meta-field.field-repeater * {
	box-sizing: border-box;
}

.repeater-item {
	background: #eee;
	//box-shadow: 0 1px 2px #c7c7c7;
	border: 1px solid #999999;
	margin: 20px 0;
	min-height: 100px;
	padding: 40px 2% 2%;
	position: relative;
	width: 100%;

	.pngx-wrapper textarea,
	.pngx-wrapper input[type="email"],
	.pngx-wrapper input[type="number"],
	.pngx-wrapper input[type="text"],
	.pngx-wrapper input[type="url"] {
		max-width: 100%;
	}

	.repeater-sort {
		left: 5px;
		position: absolute;
		top: 5px;
	}

	.add-repeater {
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.remove-repeater {
		bottom: 0;
		position: absolute;
		right: 2px;
	}
}

.pngx-wrapper.field {
	padding: 40px 2%;
	position: relative;

	.repeater-sort {
		left: 5px;
		position: absolute;
		top: 16px;
	}

	.add-repeater {
		position: absolute;
		right: 5px;
		top: 5px;
	}

	.remove-repeater {
		position: absolute;
		right: 2px;
		top: 16px;
	}
}

li.repeating-field {
	padding: 2% 35px 2% 20px;
	position: relative;

	.repeater-sort {
		left: 0;
		position: absolute;
		top: 16px;
	}

	.remove-repeater {
		position: absolute;
		right: 0;
		top: 12px;
	}
}

.menu-chooser {
	margin: 20px;
}

.repeater-column {
	display: inline-block;
	vertical-align: top;
	width: 45.5%;
}