.pngx-meta-field.field-repeater {
	width: 100%;
}

.pngx-meta-field.field-repeater * {
	box-sizing: border-box;
}

.repeater-item {
	background: #eee;
	//box-shadow: 0 1px 2px #c7c7c7;
	border: 1px solid #999999;
	margin: 20px 0;
	min-height: 100px;
	padding: 2%;
	position: relative;
	width: 100%;
}

/*.sort {
	left: 2px;
	position: absolute;
	top: 0;
}

.add-repeater {
	bottom: 0;
	position: absolute;
	right: 35px;
}

.remove-repeater {
	bottom: 0;
	position: absolute;
	right: 2px;
}*/

.menu-chooser {
	margin: 20px;
}

.repeater-column {
	display: inline-block;
	vertical-align: top;
	width: 45.5%;
}