node_modules

# Tests - local config files
codeception.yml
tests/*.suite.yml
phpunit.xml
.env.local
.env.testing

# Tests - local output files
tests/_output
tests/_support/_generated

# by default ignore all, need a vendor dep in the repo? use !vendor/acme
vendor/*
!vendor/bootstrap-iconpicker
!vendor/bootstrap-iconpicker/*
!vendor/browser
!vendor/browser/*
!vendor/clipboard
!vendor/clipboard/*
!vendor/colorbox
!vendor/colorbox/*
!vendor/wp-color-picker-alpha
!vendor/wp-color-picker-alpha/*
!vendor/selectWoo
!vendor/selectWoo/*