/*
 * Profiles CSS
 * -------------------------------------------------------------
 */

.pngx-admin-body {

	.notice,
	div.error,
	div.updated {
		padding: var(--pngx-spacer-1) var(--pngx-spacer-2);
	}

	.pngx-engine-options-items__wrap {
		margin: var(--pngx-spacer-2) auto var(--pngx-spacer-3);
	}

	fieldset {
		padding: 0;
	}

	label,
	legend {
		display: block;
		font-weight: 700;
		margin: 0;
	}

	legend {
		float: none;
	}

	.pngx-engine-options-details__read-only-field {

		.pngx-engine-options-details__field-wrap.pngx-field-wrap {
			line-height: var(--pngx-spacer-7);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.pngx-engine-options-details-profiles__last-access-wrap {

		.pngx-engine-options-details__field-wrap.pngx-field-wrap {
			line-height: var(--pngx-spacer-3);
		}
	}

	.pngx-engine-options-details-action__revoke {
		background: transparent;
		border: 0;
		color: #2271b1;
		cursor: pointer;
		line-height: var(--pngx-spacer-7);
		padding: 0;

		&:hover {
			color: var(--pngx-color-accent-primary-hover);
		}
	}

	.pngx-engine-options__add-profile-button .dashicons {
		margin-top: calc(var(--pngx-spacer-0) + 1px);
	}

	.pngx-engine-options-profile-panel__wrap {
		margin: var(--pngx-spacer-1) var(--pngx-spacer-3) var(--pngx-spacer-3);
	}

	.pngx-engine-options-api-key-title {
		font-weight: 700;
		margin: 0 0 var(--pngx-spacer-3);
	}

	.pngx-engine-options-details-profiles__message-wrap {
		border-bottom: 1px solid var(--pngx-color-border-default);
		margin: 0 0 var(--pngx-spacer-3);
		padding: 0 0 var(--pngx-spacer-3);
	}

	.pngx-engine-options-profile-action__buttons-wrap {
		display: flex;
		gap: 0.5rem;
	}

	.pngx-engine-options-details-action__save,
	.pngx-engine-options-details-action__update {
		background: #2271b1;
		border: 1px solid #2271b1;
		border-radius: 0.5rem;
		cursor: pointer;
		color: var( --pngx-white );
		font-size: .875rem;
		line-height: 1.25rem;
		padding: 0.625rem 1.25rem;

		&:focus,
		&:hover {
			background: #135e96;
			border-color: #135e96;
			color: var( --pngx-white );
		}
	}

	.dashicons {
		background: transparent;
		border: 0;
		color: var(--pngx-color-text-secondary);
		cursor: pointer;
		font-family: dashicons;
		font-size: 20px;
		padding: 0;

		&.dashicons-trash {
			border: 1px solid var( --pngx-error );
			border-radius: 0.5rem;
			color: var( --pngx-error );
			line-height: 1.25rem;
			height: 42px;
			width: 42px;

			&:focus,
			&:hover {
				background-color: var( --pngx-error );
				color: var( --pngx-white );
			}
		}

		&:hover {
			color: var(--pngx-color-text-disabled);
		}
	}
}

