/*
 * Accounts CSS
 * -------------------------------------------------------------
 */

.pngx-volt-vectors-options {

	.notice,
	div.error,
	div.updated {
		padding: var(--pngx-spacer-1) var(--pngx-spacer-2);
	}

/*	.pngx-volt-vectors-application__description {
		margin: 0 0 var(--pngx-spacer-1);
		padding-left: var(--pngx-spacer-2);
	}*/

	.pngx-engine-options-items__wrap {
		margin: var(--pngx-spacer-2) auto var(--pngx-spacer-3);
	}

	fieldset {
		padding: 0;
	}

/*	.pngx-volt-vectors-options {
		margin-bottom: var(--pngx-spacer-3);
		padding-left: var(--pngx-spacer-2);
	}*/

	label,
	legend {
		display: block;
		font-weight: 700;
		margin: 0;
	}

	legend {
		float: none;
	}

	.pngx-engine-options-details__read-only-field {

		.pngx-engine-options-details__field-wrap.pngx-field-wrap {
			line-height: var(--pngx-spacer-7);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.pngx-engine-options-details-accounts__last-access-wrap {

		.pngx-engine-options-details__field-wrap.pngx-field-wrap {
			line-height: var(--pngx-spacer-3);
		}
	}

	.pngx-engine-options-details-action__revoke {
		background: transparent;
		border: 0;
		color: #2271b1;
		cursor: pointer;
		line-height: var(--pngx-spacer-7);
		padding: 0;

		&:hover {
			color: var(--pngx-color-accent-primary-hover);
		}
	}

	.pngx-engine-options__add-account-button .dashicons {
		margin-top: calc(var(--pngx-spacer-0) + 1px);
	}

	.pngx-engine-options-api-key__wrap {
		background: var(--pngx-color-background);
		border: 1px solid var(--pngx-color-border-default);
		margin: var(--pngx-spacer-1) var(--pngx-spacer-3) var(--pngx-spacer-3);
		padding: var(--pngx-spacer-2);
	}

	.pngx-engine-options-api-key-title {
		font-weight: 700;
		margin: 0 0 var(--pngx-spacer-3);
	}

	.pngx-engine-options-details-accounts__message-wrap {
		border-bottom: 1px solid var(--pngx-color-border-default);
		margin: 0 0 var(--pngx-spacer-3);
		padding: 0 0 var(--pngx-spacer-3);
	}

	.dashicons {
		background: transparent;
		border: 0;
		color: var(--pngx-color-text-secondary);
		cursor: pointer;
		font-family: dashicons;
		font-size: 20px;
		padding: 0;

		&.dashicons-trash {
		}

		&:hover {
			color: var(--pngx-color-text-disabled);
		}
	}
}

