/*
 * Image CSS
 * -------------------------------------------------------------
 */

.pngx-engine-options-control__default-image,
.pngx-engine-options-control__image {
	border: 1px solid #dbdbdb;
	font-size: rem-calc(16);
	height: auto;
	margin: 0 0 rem-calc(20);
	max-width: 100%;
	padding: rem-calc(10);
	text-align: center;
	width: rem-calc(300);
}