/*
 * Password CSS
 * -------------------------------------------------------------
 */

.pngx-field-password {

	.pngx-field-wrap {
		max-width: rem-calc(600);
	}

	.pngx-engine-options-control__password-input {
		width: calc(100% - 120px);
	}
}

.pngx-field.pngx-dependent,
.pngx-field {
	.pngx-engine-options-control__password-wrap {
		.pngx-engine-options-control-password-input__toggle-wrap {
			display: inline;
		}
	}
}

input[type="checkbox"].pngx-engine-options-control-password-input__toggle-type {
	display: none;
}

