// Standard Colors
$white: #fff;
$black: #000;
$color__dark_grey: #333;
$color__grey: #777;
$color__light_grey: #ccc;

$color__title: #003ca9;
$color__link: #003ca9;
$color__link_hover: #4d6eab;
$color__alert: #dd3d36;
$color__sucess: #3ca900;

